In [544]:
import pandas
from glob import glob
import numpy

In [545]:
data = '/Users/justin/Projects/DB/data/ORCL .csv'

In [546]:
dataframe = pandas.read_csv(data)
dataframe

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,64.690002,64.699997,63.169998,63.750000,63.000996,11249900
1,2021-01-05,63.680000,63.790001,62.480000,62.959999,62.220284,11005700
2,2021-01-06,62.270000,63.349998,61.910000,62.570000,62.071476,8685400
3,2021-01-07,62.849998,63.740002,62.849998,63.070000,62.567493,7382800
4,2021-01-08,63.180000,63.540001,62.910000,63.380001,62.875023,7751700
...,...,...,...,...,...,...,...
182,2021-09-23,88.940002,90.059998,88.660004,89.419998,89.419998,9720200
183,2021-09-24,89.269997,90.059998,88.940002,89.940002,89.940002,7617800
184,2021-09-27,89.779999,91.309998,89.150002,91.040001,91.040001,11533000
185,2021-09-28,90.639999,92.269997,90.050003,90.489998,90.489998,15041800
186,2021-09-29,91.150002,92.080002,91.000000,91.250000,91.250000,12007300

In [547]:
dataframe["StockID"]="ORCL"

增加新常數資料欄位【StockID】，並輸入值【ORCL】

In [548]:
zzz=numpy.abs(dataframe["Open"]-dataframe["Adj Close"])

In [549]:
dataframe["Net"]=zzz

增加衍生數值資料欄位【Net】，為該筆資料的【Open】- 【Adj Close】 的絕對值

In [550]:
dataframe["Scale"]=dataframe["High"]-dataframe["Low"]

增加衍生數值資料欄位【Scale】，為該筆資料的【High】 - 【Low】

In [551]:
datazzz=(dataframe['Volume'].mean(),dataframe['Volume'].std())

In [552]:
datazzzup=dataframe['Volume']<datazzz[0]+datazzz[1]

In [553]:
datazzzlw=dataframe['Volume']>datazzz[0]-datazzz[1]

In [554]:
Dataframe = dataframe[(datazzzlw) & (datazzzup)]

篩選出在欄位【Volume】平均數一個標準差內的數值資料，儲存為一個DataFrame

In [555]:
datazzzup=dataframe[dataframe['Volume']<datazzz[0]+datazzz[1]]

In [556]:
datazzzlw=dataframe[dataframe['Volume']>datazzz[0]-datazzz[1]]

In [557]:
Df = datazzzup.merge(datazzzlw)

篩選出在欄位【Volume】平均數一個標準差內的數值資料，儲存為一個DataFrame

In [558]:
my_monly_min = None

for mon in range(1, 10):
    _month = '-%02d-' % mon       
    _df = dataframe[dataframe['Date'].str.contains(_month)] # 各月份資料的df
    _min = _df[_df['Scale']==_df['Scale'].min()] 
    
    if my_monly_min is None:
        my_monly_min = _min 
    else:
        my_monly_min = pandas.concat([my_monly_min, _min]) 
        
anotherdf=my_monly_min.sort_values(by='Scale',ascending=False)
anotherdf

,Date,Open,High,Low,Close,Adj Close,Volume,StockID,Net,Scale
173,2021-09-10,89.650002,90.550003,89.510002,89.680000,89.680000,10545800,ORCL,0.029998,1.040001
142,2021-07-28,87.900002,87.949997,87.120003,87.180000,87.180000,6396800,ORCL,0.720002,0.829994
165,2021-08-30,89.459999,89.980003,89.300003,89.449997,89.449997,5357000,ORCL,0.010002,0.680000
53,2021-03-22,66.220001,66.519997,65.860001,66.320000,65.791595,10263700,ORCL,0.428406,0.659996
95,2021-05-20,78.949997,79.320000,78.680000,78.720001,78.430687,8802700,ORCL,0.519310,0.640000
123,2021-06-30,77.589996,78.209999,77.580002,77.839996,77.553917,7899800,ORCL,0.036079,0.629997
7,2021-01-13,62.320000,62.590000,61.970001,62.060001,61.565544,8298000,ORCL,0.754456,0.619999
79,2021-04-28,75.160004,75.269997,74.660004,74.769997,74.495201,6107800,ORCL,0.664803,0.609993
31,2021-02-18,61.810001,62.209999,61.660000,62.070000,61.575462,6262400,ORCL,0.234539,0.549999

篩選出每月震盪(Scale)為最小值的日期，並另外儲存成一個Dataframe，並且按照Scale大小排序(數值較大的在前)

In [559]:
dataIBM = '/Users/justin/Projects/DB/data/IBM-Stocks/IBM-2021.csv'

In [560]:
dataIBM = pandas.read_csv(dataIBM)

In [561]:
dataIBM ["StockID"]="ORCL"
dataIBM

,Date,Open,High,Low,Close,Adj Close,Volume,StockID
0,2021-01-04,125.849998,125.919998,123.040001,123.940002,119.577530,5179200,ORCL
1,2021-01-05,125.010002,126.680000,124.610001,126.139999,121.700096,6114600,ORCL
2,2021-01-06,126.900002,131.880005,126.720001,129.289993,124.739220,7956700,ORCL
3,2021-01-07,130.039993,130.460007,128.259995,128.990005,124.449783,4507400,ORCL
4,2021-01-08,128.570007,129.320007,126.980003,128.529999,124.005974,4676200,ORCL
...,...,...,...,...,...,...,...,...
176,2021-09-15,136.220001,137.800003,135.669998,137.199997,137.199997,3253900,ORCL
177,2021-09-16,137.279999,137.949997,135.710007,136.429993,136.429993,2644000,ORCL
178,2021-09-17,135.750000,135.919998,135.050003,135.229996,135.229996,5631300,ORCL
179,2021-09-20,133.899994,135.179993,132.779999,134.309998,134.309998,4770700,ORCL
180,2021-09-21,135.110001,135.639999,132.869995,132.970001,132.970001,4042768,ORCL

In [562]:
zzz=numpy.abs(dataframe["Open"]-dataframe["Adj Close"])

In [563]:
dataIBM["Net"]=zzz

In [564]:
dataIBM["Scale"]=dataIBM["High"]-dataIBM["Low"]

In [565]:
datazzz=(dataIBM['Volume'].mean(),dataframe['Volume'].std())

In [566]:
datazzzup=dataIBM['Volume']<datazzz[0]+datazzz[1]

In [567]:
datazzzlw=dataIBM['Volume']>datazzz[0]-datazzz[1]

In [568]:
DDataframe = dataIBM[(datazzzlw) & (datazzzup)]

In [569]:
my_monly_min = None

for mon in range(1, 10):
    _month = '-%02d-' % mon       
    _df = dataIBM[dataIBM['Date'].str.contains(_month)] 
    _min = _df[_df['Scale']==_df['Scale'].min()] 
    
    
    if my_monly_min is None:
        my_monly_min = _min 
    else:
        my_monly_min = pandas.concat([my_monly_min, _min]) 
        
dataIBMmin=my_monly_min.sort_values(by='Scale',ascending=False)
dataIBMmin

,Date,Open,High,Low,Close,Adj Close,Volume,StockID,Net,Scale
10,2021-01-19,129.279999,129.589996,128.089996,129.020004,124.478729,5398000,ORCL,1.298324,1.500000
112,2021-06-15,149.850006,149.910004,148.600006,149.360001,147.660019,2513300,ORCL,0.660049,1.309998
29,2021-02-16,120.150002,120.599998,119.360001,120.070000,117.391747,6639800,ORCL,1.465096,1.239997
47,2021-03-12,127.190002,127.680000,126.610001,127.610001,124.763565,4010100,ORCL,0.335091,1.069999
66,2021-04-09,134.869995,135.740005,134.710007,135.729996,132.702438,3023900,ORCL,0.047767,1.029998
124,2021-07-01,146.960007,147.500000,146.570007,146.839996,145.168701,2686100,ORCL,1.267670,0.929993
161,2021-08-24,139.779999,140.229996,139.320007,139.839996,139.839996,2365600,ORCL,0.659996,0.909989
178,2021-09-17,135.750000,135.919998,135.050003,135.229996,135.229996,5631300,ORCL,0.180000,0.869995
101,2021-05-28,144.210007,144.330002,143.490005,143.740005,142.103989,2534600,ORCL,0.499390,0.839997

In [570]:
Bigdataframe=pandas.concat([anotherdf,dataIBMmin]).drop_duplicates()
Bigdataframe.set_index(['StockID','Date'])

                          Open        High         Low       Close  \
StockID Date
ORCL    2021-09-10   89.650002   90.550003   89.510002   89.680000
        2021-07-28   87.900002   87.949997   87.120003   87.180000
        2021-08-30   89.459999   89.980003   89.300003   89.449997
        2021-03-22   66.220001   66.519997   65.860001   66.320000
        2021-05-20   78.949997   79.320000   78.680000   78.720001
        2021-06-30   77.589996   78.209999   77.580002   77.839996
        2021-01-13   62.320000   62.590000   61.970001   62.060001
        2021-04-28   75.160004   75.269997   74.660004   74.769997
        2021-02-18   61.810001   62.209999   61.660000   62.070000
        2021-01-19  129.279999  129.589996  128.089996  129.020004
        2021-06-15  149.850006  149.910004  148.600006  149.360001
        2021-02-16  120.150002  120.599998  119.360001  120.070000
        2021-03-12  127.190002  127.680000  126.610001  127.610001
        2021-04-09  134.869995  135.740005  134.710007  135.729996
        2021-07-01  146.960007  147.500000  146.570007  146.839996
        2021-08-24  139.779999  140.229996  139.320007  139.839996
        2021-09-17  135.750000  135.919998  135.050003  135.229996
        2021-05-28  144.210007  144.330002  143.490005  143.740005

                     Adj Close    Volume       Net     Scale
StockID Date
ORCL    2021-09-10   89.680000  10545800  0.029998  1.040001
        2021-07-28   87.180000   6396800  0.720002  0.829994
        2021-08-30   89.449997   5357000  0.010002  0.680000
        2021-03-22   65.791595  10263700  0.428406  0.659996
        2021-05-20   78.430687   8802700  0.519310  0.640000
        2021-06-30   77.553917   7899800  0.036079  0.629997
        2021-01-13   61.565544   8298000  0.754456  0.619999
        2021-04-28   74.495201   6107800  0.664803  0.609993
        2021-02-18   61.575462   6262400  0.234539  0.549999
        2021-01-19  124.478729   5398000  1.298324  1.500000
        2021-06-15  147.660019   2513300  0.660049  1.309998
        2021-02-16  117.391747   6639800  1.465096  1.239997
        2021-03-12  124.763565   4010100  0.335091  1.069999
        2021-04-09  132.702438   3023900  0.047767  1.029998
        2021-07-01  145.168701   2686100  1.267670  0.929993
        2021-08-24  139.839996   2365600  0.659996  0.909989
        2021-09-17  135.229996   5631300  0.180000  0.869995
        2021-05-28  142.103989   2534600  0.499390  0.839997

In [572]:
Bigdataframe.rename(columns={
    'Date': '日期',   
    'Open': '開盤價', 
    'High': '最高價', 
    'Low': '最低價', 
    'Close': '收盤價', 
    'Adj Close': '調整的收盤價', 
    'Volume': '成交量',
    'StockID': '股票名稱',
    'Net': '淨值',
    'Scale': '震盪'
}, inplace=True)

Bigdataframe

,日期,開盤價,最高價,最低價,收盤價,調整的收盤價,成交量,股票名稱,淨值,震盪
173,2021-09-10,89.650002,90.550003,89.510002,89.680000,89.680000,10545800,ORCL,0.029998,1.040001
142,2021-07-28,87.900002,87.949997,87.120003,87.180000,87.180000,6396800,ORCL,0.720002,0.829994
165,2021-08-30,89.459999,89.980003,89.300003,89.449997,89.449997,5357000,ORCL,0.010002,0.680000
53,2021-03-22,66.220001,66.519997,65.860001,66.320000,65.791595,10263700,ORCL,0.428406,0.659996
95,2021-05-20,78.949997,79.320000,78.680000,78.720001,78.430687,8802700,ORCL,0.519310,0.640000
123,2021-06-30,77.589996,78.209999,77.580002,77.839996,77.553917,7899800,ORCL,0.036079,0.629997
7,2021-01-13,62.320000,62.590000,61.970001,62.060001,61.565544,8298000,ORCL,0.754456,0.619999
79,2021-04-28,75.160004,75.269997,74.660004,74.769997,74.495201,6107800,ORCL,0.664803,0.609993
31,2021-02-18,61.810001,62.209999,61.660000,62.070000,61.575462,6262400,ORCL,0.234539,0.549999
10,2021-01-19,129.279999,129.589996,128.089996,129.020004,124.478729,5398000,ORCL,1.298324,1.500000
112,2021-06-15,149.850006,149.910004,148.600006,149.360001,147.660019,2513300,ORCL,0.660049,1.309998
29,2021-02-16,120.150002,120.599998,119.360001,120.070000,117.391747,6639800,ORCL,1.465096,1.239997
47,2021-03-12,127.190002,127.680000,126.610001,127.610001,124.763565,4010100,ORCL,0.335091,1.069999
66,2021-04-09,134.869995,135.740005,134.710007,135.729996,132.702438,3023900,ORCL,0.047767,1.029998
124,2021-07-01,146.960007,147.500000,146.570007,146.839996,145.168701,2686100,ORCL,1.267670,0.929993
161,2021-08-24,139.779999,140.229996,139.320007,139.839996,139.839996,2365600,ORCL,0.659996,0.909989
178,2021-09-17,135.750000,135.919998,135.050003,135.229996,135.229996,5631300,ORCL,0.180000,0.869995
101,2021-05-28,144.210007,144.330002,143.490005,143.740005,142.103989,2534600,ORCL,0.499390,0.839997