In [1]:
import pandas
from glob import glob
import numpy

<h2>conda install sqldf<h2/>

In [2]:
from pandasql import sqldf
pysqldf=lambda q:sqldf(q,globals())

In [3]:
data_floder='D:/Projects/IBM-Stocks'
data_file=glob('%s/IBM-2018.csv'%data_floder)
data5=glob('%s/IBM-20??.csv'%data_floder)
data_file
data5

['D:/Projects/IBM-Stocks\\IBM-2017.csv',
 'D:/Projects/IBM-Stocks\\IBM-2018.csv',
 'D:/Projects/IBM-Stocks\\IBM-2019.csv',
 'D:/Projects/IBM-Stocks\\IBM-2020.csv',
 'D:/Projects/IBM-Stocks\\IBM-2021.csv']

In [4]:
data=pandas.read_csv(data_file[0])

In [5]:
#第一題
data['Net'] = numpy.abs(data['Open']-data['Adj Close'])
data

,Date,Open,High,Low,Close,Adj Close,Volume,Net
0,2018-01-02,154.500000,154.809998,153.539993,154.250000,129.093903,4202500,25.406097
1,2018-01-03,157.339996,159.809998,156.330002,158.490005,132.642441,9441600,24.697555
2,2018-01-04,159.649994,162.320007,159.369995,161.699997,135.328934,7556200,24.321060
3,2018-01-05,162.440002,162.899994,161.100006,162.490005,135.990097,5195800,26.449905
4,2018-01-08,162.660004,163.910004,161.699997,163.470001,136.810242,5237500,25.849762
...,...,...,...,...,...,...,...,...
245,2018-12-21,112.500000,115.279999,110.440002,110.940002,97.046852,10386500,15.453148
246,2018-12-24,109.900002,111.000000,107.500000,107.570000,94.098885,3821400,15.801117
247,2018-12-26,108.000000,111.389999,105.940002,111.389999,97.440498,6645800,10.559502
248,2018-12-27,109.989998,113.779999,109.470001,113.779999,99.531197,6045600,10.458801
249,2018-12-28,114.220001,114.800003,112.500000,113.029999,98.875130,5117500,15.344871

In [6]:
my_base_sql='SELECT * FROM data'

In [7]:
net_avg=data['Net'].mean()
net_avg

21.093216492000018

In [8]:
#第二題
my_sql=my_base_sql + ' WHERE Volume >5000000 AND Net >21.093216492000018 ;'
#net_avg=my_sql % str(data['Net'].mean())
pysqldf(my_sql)

,Date,Open,High,Low,Close,Adj Close,Volume,Net
0,2018-01-03,157.339996,159.809998,156.330002,158.490005,132.642441,9441600,24.697555
1,2018-01-04,159.649994,162.320007,159.369995,161.699997,135.328934,7556200,24.321060
2,2018-01-05,162.440002,162.899994,161.100006,162.490005,135.990097,5195800,26.449905
3,2018-01-08,162.660004,163.910004,161.699997,163.470001,136.810242,5237500,25.849762
4,2018-01-12,164.020004,164.740005,163.029999,163.139999,136.534058,5031900,27.485946
5,2018-01-16,165.100006,165.289993,163.350006,163.850006,137.128265,7794200,27.971741
6,2018-01-17,168.009995,169.130005,167.259995,168.649994,141.145447,11710000,26.864548
7,2018-01-18,170.000000,171.130005,168.149994,169.119995,141.538788,14259300,28.461212
8,2018-01-19,164.460007,165.399994,161.300003,162.369995,135.889664,21172500,28.570343
9,2018-01-22,161.509995,163.979996,161.110001,162.600006,136.082153,8480800,25.427842
10,2018-01-23,162.820007,166.259995,162.509995,166.250000,139.136887,7466200,23.683120
11,2018-01-24,166.750000,168.720001,164.820007,165.369995,138.400375,5645000,28.349625
12,2018-02-02,161.699997,162.000000,158.869995,159.029999,133.094345,5251900,28.605652
13,2018-02-05,157.889999,158.500000,150.000000,152.529999,127.654434,8746600,30.235565
14,2018-02-07,154.169998,155.339996,153.279999,153.850006,128.759140,6149200,25.410858
15,2018-02-08,152.479996,153.160004,147.500000,147.589996,124.736229,6779100,27.743767
16,2018-02-09,148.600006,150.539993,144.399994,149.509995,126.358910,7828300,22.241096
17,2018-02-12,150.899994,152.399994,150.300003,151.399994,127.956223,5881400,22.943771
18,2018-02-15,155.500000,156.860001,153.699997,156.009995,131.852402,5623600,23.647598
19,2018-03-08,159.000000,159.570007,155.070007,156.210007,132.021469,6455600,26.978531
20,2018-03-09,157.470001,159.580002,157.300003,159.309998,134.641418,5022200,22.828583
21,2018-03-12,159.639999,161.020004,158.869995,160.259995,135.444305,5063500,24.195694
22,2018-03-16,160.059998,161.979996,159.639999,160.259995,135.444305,9262700,24.615693
23,2018-03-19,159.710007,159.889999,156.449997,157.350006,132.984924,5482000,26.725083
24,2018-04-02,153.339996,153.380005,148.429993,150.070007,126.832176,5150400,26.507820
25,2018-04-12,156.750000,158.979996,156.669998,158.070007,133.593430,5639400,23.156570
26,2018-04-17,158.820007,162.000000,158.509995,160.910004,135.993668,10207500,22.826339
27,2018-04-18,152.139999,152.630005,148.259995,148.789993,125.750381,20381700,26.389618
28,2018-04-19,149.190002,149.210007,146.619995,147.699997,124.829185,8086100,24.360817
29,2018-04-20,147.899994,147.970001,144.509995,144.899994,122.462753,8265600,25.437241
30,2018-04-23,145.029999,145.960007,144.330002,145.860001,123.274101,5315600,21.755898
31,2018-04-25,145.789993,146.399994,144.110001,145.940002,123.341743,7326400,22.448250
32,2018-05-02,144.460007,144.820007,142.070007,142.449997,120.392128,5194900,24.067879
33,2018-05-03,142.130005,142.229996,139.899994,141.990005,120.003365,5018600,22.126640
34,2018-05-08,143.000000,143.509995,142.059998,143.000000,120.856949,5369100,22.143051
35,2018-05-31,142.809998,142.809998,141.050003,141.309998,120.754417,6830300,22.055581
36,2018-06-25,140.399994,140.399994,138.279999,138.789993,118.600990,8937100,21.799004
37,2018-07-17,144.750000,145.000000,143.339996,143.490005,122.617302,5096700,22.132698
38,2018-07-20,148.580002,148.860001,146.259995,146.350006,125.061279,6414600,23.518723
39,2018-07-31,145.740005,145.800003,144.160004,144.929993,123.847839,5474200,21.892166
40,2018-09-26,152.399994,153.350006,151.339996,151.610001,130.955841,7401900,21.444153
41,2018-10-10,147.500000,147.690002,142.500000,142.690002,123.251007,5547700,24.248993
42,2018-10-11,142.619995,144.190002,138.779999,139.020004,120.080978,8710500,22.539017
43,2018-10-24,131.169998,131.690002,127.000000,127.209999,109.879890,5710300,21.290108

In [9]:
#第四題
my_sql=[
    'SELECT * FROM data A',
    'INNER JOIN',
    '(SELECT SUBSTR (Date,1,7) AS YM, MIN(Low) AS Low FROM data GROUP BY SUBSTR(Date,1,7)) B',
    'ON A.Low=B.Low'
]
pysqldf(' '.join(my_sql))

,Date,Open,High,Low,Close,Adj Close,Volume,Net,YM,Low
0,2018-01-02,154.500000,154.809998,153.539993,154.250000,129.093903,4202500,25.406097,2018-01,153.539993
1,2018-02-09,148.600006,150.539993,144.399994,149.509995,126.358910,7828300,22.241096,2018-02,144.399994
2,2018-03-23,152.250000,152.580002,148.539993,148.889999,125.834938,4440900,26.415062,2018-03,148.539993
3,2018-04-25,145.789993,146.399994,144.110001,145.940002,123.341743,7326400,22.448250,2018-04,144.110001
4,2018-05-03,142.130005,142.229996,139.899994,141.990005,120.003365,5018600,22.126640,2018-05,139.899994
5,2018-06-27,139.110001,139.779999,137.449997,137.479996,117.481544,4101800,21.628457,2018-06,137.449997
6,2018-07-02,138.279999,140.220001,138.199997,139.860001,119.515320,3405400,18.764679,2018-07,138.199997
7,2018-08-15,142.550003,144.000000,142.000000,143.910004,124.304810,4241500,18.245193,2018-08,142.000000
8,2018-09-04,145.979996,146.190002,144.809998,145.679993,125.833672,3326200,20.146324,2018-09,144.809998
9,2018-10-31,116.489998,116.500000,114.089996,115.430000,99.704704,21645000,16.785294,2018-10,114.089996
10,2018-11-02,117.510002,117.750000,114.540001,115.669998,99.911995,10592700,17.598007,2018-11,114.540001
11,2018-12-26,108.000000,111.389999,105.940002,111.389999,97.440498,6645800,10.559502,2018-12,105.940002

In [10]:
#第五題
dataa=None
for i in range(0,4):
    d=pandas.read_csv(data5[i])
    my_sql=[
    'SELECT * FROM d A',
    'INNER JOIN',
     '(SELECT SUBSTR (Date,1,4) AS Y, MAX(Volume) AS Volume FROM d GROUP BY SUBSTR(Date,1,4)) B',
     'ON A.Volume=B.Volume',
    ]
    dataa1=pysqldf(' '.join(my_sql))
    dataa=pandas.concat([dataa,dataa1]) 
#dataa=dataa.sort_values(by='Y')
dataa['Stat'] = 'H'
dataa.set_index(['Y','Stat'])
dataa

,Date,Open,High,Low,Close,Adj Close,Volume,Y,Volume,Stat
0,2017-10-18,157.119995,161.229996,156.949997,159.529999,132.191544,30490200,2017,30490200,H
0,2018-10-31,116.489998,116.500000,114.089996,115.430000,99.704704,21645000,2018,21645000,H
0,2019-01-23,131.369995,135.000000,130.309998,132.889999,116.248016,22063700,2019,22063700,H
0,2020-10-08,130.860001,135.500000,129.770004,131.490005,125.048523,25288900,2020,25288900,H

In [11]:
dataa2=None
for i in range(0,4):
    d=pandas.read_csv(data5[i])
    my_sql=[
    'SELECT * FROM d A',
    'INNER JOIN',
     '(SELECT SUBSTR (Date,1,4) AS Y, MIN(Volume) AS Volume FROM d GROUP BY SUBSTR(Date,1,4)) B',
     'ON A.Volume=B.Volume'
    ]
    dataa1=pysqldf(' '.join(my_sql))
    dataa2=pandas.concat([dataa2,dataa1]) 
    
dataa2=dataa.sort_values(by='Y')
dataa2['Stat'] = 'L'
dataa2.set_index(['Y','Stat'])
dataa2

,Date,Open,High,Low,Close,Adj Close,Volume,Y,Volume,Stat
0,2017-10-18,157.119995,161.229996,156.949997,159.529999,132.191544,30490200,2017,30490200,L
0,2018-10-31,116.489998,116.500000,114.089996,115.430000,99.704704,21645000,2018,21645000,L
0,2019-01-23,131.369995,135.000000,130.309998,132.889999,116.248016,22063700,2019,22063700,L
0,2020-10-08,130.860001,135.500000,129.770004,131.490005,125.048523,25288900,2020,25288900,L

In [12]:
result=pandas.concat([dataa,dataa2])
result.sort_values(by='Y')
result

,Date,Open,High,Low,Close,Adj Close,Volume,Y,Volume,Stat
0,2017-10-18,157.119995,161.229996,156.949997,159.529999,132.191544,30490200,2017,30490200,H
0,2018-10-31,116.489998,116.500000,114.089996,115.430000,99.704704,21645000,2018,21645000,H
0,2019-01-23,131.369995,135.000000,130.309998,132.889999,116.248016,22063700,2019,22063700,H
0,2020-10-08,130.860001,135.500000,129.770004,131.490005,125.048523,25288900,2020,25288900,H
0,2017-10-18,157.119995,161.229996,156.949997,159.529999,132.191544,30490200,2017,30490200,L
0,2018-10-31,116.489998,116.500000,114.089996,115.430000,99.704704,21645000,2018,21645000,L
0,2019-01-23,131.369995,135.000000,130.309998,132.889999,116.248016,22063700,2019,22063700,L
0,2020-10-08,130.860001,135.500000,129.770004,131.490005,125.048523,25288900,2020,25288900,L

In [15]:
result.to_csv('w03_hw.csv', mode='w')