In [1]:
import sqlite3
import pandas

<h3>pip install pyArango</h3>

In [2]:
from pyArango.connection import*
from pyArango.query import*

<h3>讀取sqlite3資料庫</h3>

In [4]:
data_path='C:\\Users\\user\\anaconda3\\Projects\\data'
db_file='%s/StockInfo.sqlite3' % data_path

In [5]:
file_names=[
    'StockID','StockDate','StockOpen',
    'StockHigh','StockLow','StockClose',
    'StockAdjClose','Stockvol'
]

In [13]:
sql="SELECT %s FROM StockInfo ORDER BY StockID,StockDate "%','.join(file_names)

db_conn_source=sqlite3.connect(db_file)
data=pandas.read_sql_query("SELECT %s FROM StockInfo ORDER BY StockID,StockDate "%','.join(file_names),db_conn_source)
db_conn_source.close()

In [16]:
def LoadDate(sql):
    global db_file
    _db_conn_source=sqlite3.connect(db_file)
    _data=pandas.read_sql_query(sql,_db_conn_source)
    _db_conn_source.close
    return _data

In [17]:
data=LoadDate(sql)

In [18]:
df_index=[]
for i in range(data.shape[0]):
    row=data.iloc[i]
    idx='%s-%s'%(row['StockDate'],row['StockID'])
    df_index.append(idx)
data.index=df_index

In [19]:
data.head()

,StockID,StockDate,StockOpen,StockHigh,StockLow,StockClose,StockAdjClose,StockVol
2018-01-02-IBM,IBM,2018-01-02,154.500000,154.809998,153.539993,154.250000,149.454422,4202500
2018-01-03-IBM,IBM,2018-01-03,157.339996,159.809998,156.330002,158.490005,153.562622,9441600
2018-01-04-IBM,IBM,2018-01-04,159.649994,162.320007,159.369995,161.699997,156.672821,7556200
2018-01-05-IBM,IBM,2018-01-05,162.440002,162.899994,161.100006,162.490005,157.438263,5195800
2018-01-08-IBM,IBM,2018-01-08,162.660004,163.910004,161.699997,163.470001,158.387787,5237500

<h3>ArangoDB 資料庫</h3>

In [24]:
db_ip='localhost'

db_conn_target=Connection(
    arangoURL='http://%s:8529'%db_ip,
    username='emprogria',
    password='emprogria'
)

In [25]:
db=db_conn['Emprogria']
db_collection=db.collections['StockInfo2']

<h3>儲存ArangoDB資料庫</h3>

In [28]:
db_result=db_collection.empty()

In [30]:
for i in range(data.shape[0]):
    row=data.iloc[i]
    
    _doc=db_collection.createDocument()
    _doc['_key']=data.index[i]
    
    for col_name in data.columns:
        _doc[col_name]=row[col_name]
    _doc.save()

In [ ]:
db_conn_rarget.close()