In [1]:
from glob import glob
import pandas
from datetime import datetime
import numpy

將原始資料解析成正確形式
"-"的處理,避免每一欄都是文字
<h3>任務->產生SQL語句</h3>

In [2]:
data_path='C:/Users/user/anaconda3/Projects/data/W06_data'

file_list=glob('%s/NQF-*.txt'% data_path)
#會進行代換*
file_list

['C:/Users/user/anaconda3/Projects/data/W06_data\\NQF-2017.txt',
 'C:/Users/user/anaconda3/Projects/data/W06_data\\NQF-2018.txt',
 'C:/Users/user/anaconda3/Projects/data/W06_data\\NQF-2019.txt',
 'C:/Users/user/anaconda3/Projects/data/W06_data\\NQF-2020.txt']

In [3]:
datatable='StockInfo'

<h3>工具函數-依據輸入的不同做執行</h3>

欄位間格為tab(\t),
將[0]解析為單獨的日期列(處理空格問題),
推斷日期時間字符串的格式,
header=0表示有檔頭,並將欄位名稱做相對應的代換

新增衍生欄位stockID,
由小到大排列,並將產生的index拆掉(drop),內部結構改變(inpalce)

利用loc尋找沒有"-"的 資料(將-刪掉)

定義數值欄,
apply各個欄位都執行一件事:轉成字串,將","replace掉,再轉為數值

<h3>函數導向設計</h3>.
lambda x:傳回變數,內容可代換(自行定義)->第二次期中

In [4]:
def import_data(stockID, file_name):
    _dataset = pandas.read_csv(
        file_name, delimiter='\t', parse_dates=[0], infer_datetime_format=True,
        header=0, names=['StockDate', 'StockOpen', 'StockHigh', 
                         'StockLow', 'StockClose', 'StockAdjClose', 'StockVol'],
    )
    
    _dataset['StockID'] = stockID
    _dataset = _dataset.sort_values(by=['StockDate'])
    
    _dataset.reset_index(drop=True, inplace=True)
    
    _dataset = _dataset.loc[_dataset['StockOpen'] != '-']
    
    _number_fields = ['StockOpen', 'StockHigh', 'StockLow', 'StockClose', 
                      'StockAdjClose', 'StockVol']
    
    _dataset[_number_fields] = _dataset[_number_fields].apply(
        lambda x: pandas.to_numeric(x.astype(str).str.replace(',', ''), errors='coerce')
    )
    
    _dataset['StockVol'] = _dataset['StockVol'] / 1000.0
            
    return _dataset[['StockID', 'StockDate', 
                    'StockOpen', 'StockHigh', 'StockLow', 'StockClose', 
                    'StockAdjClose', 'StockVol']]

<h3>載入檔案</h3>

In [5]:
_dataset=import_data('NQF',file_list[0])
#呼叫工具程式傳入"(NQF,檔名)"

In [6]:
_dataset.tail()

,StockID,StockDate,StockOpen,StockHigh,StockLow,StockClose,StockAdjClose,StockVol
246,NQF,2017-12-22,6489.75,6501.75,6467.50,6483.75,6483.75,130.810
247,NQF,2017-12-26,6482.50,6492.00,6432.25,6460.00,6460.00,135.130
248,NQF,2017-12-27,6461.25,6475.50,6442.00,6454.00,6454.00,158.481
249,NQF,2017-12-28,6452.25,6477.50,6442.25,6446.25,6446.25,138.254
250,NQF,2017-12-29,6444.50,6467.75,6383.25,6408.75,6408.75,210.114

<h3>建立表格SQL命令搞(樣板)</h3>
用pandas函數將datasets傳入,並給一個table,用換行鍵(\n)拆分,以向量形式輸出

In [7]:
_create_table_sql=pandas.io.sql.get_schema(_dataset,datatable).split('\n')
_create_table_sql

['CREATE TABLE "StockInfo" (',
 '"StockID" TEXT,',
 '  "StockDate" TIMESTAMP,',
 '  "StockOpen" REAL,',
 '  "StockHigh" REAL,',
 '  "StockLow" REAL,',
 '  "StockClose" REAL,',
 '  "StockAdjClose" REAL,',
 '  "StockVol" REAL',
 ')']

<h3>新增筆錄至表格內SQL命令搞</h3>

In [8]:
_sql = 'INSERT INTO %s ' % datatable
_sql = _sql + '(%s, %s, %s, %s, %s, %s, %s, %s) ' % tuple(_dataset.columns)
#tuple格式化分配

_insert_table_sql_list = []

#用迴圈將每筆資料放入陣列,存入DB
for i in range(_dataset.shape[0]):
    #shape0是維度,表示資料有幾筆
    #shape1表示欄位
    _row = _dataset.iloc[i]
    #第幾筆資料
    _insert_table_sql = _sql + "VALUES('%s','%s',%s,%s,%s,%s,%s,%s)" % (
        _row['StockID'], _row['StockDate'].strftime('%Y-%m-%d'), #字串轉日期 
        _row['StockOpen'], _row['StockHigh'], _row['StockLow'], _row['StockClose'],
        _row['StockAdjClose'], _row['StockVol']
    )    
    
    _insert_table_sql_list.append(_insert_table_sql)

_insert_table_sql_list[0]

"INSERT INTO StockInfo (StockID, StockDate, StockOpen, StockHigh, StockLow, StockClose, StockAdjClose, StockVol) VALUES('NQF','2017-01-03',4876.75,4927.5,4876.75,4906.25,4906.25,215.983)"

In [9]:
#單筆資料寫法
_insert_table_sql= _sql+"VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"%(
    'NQF','2020-12-24',-100.0,-100.0,-100.0,-100.0,-100.0,-100.0
    )
_insert_table_sql

'INSERT INTO StockInfo (StockID, StockDate, StockOpen, StockHigh, StockLow, StockClose, StockAdjClose, StockVol) VALUES(NQF, 2020-12-24, -100.0, -100.0, -100.0, -100.0, -100.0, -100.0)'

<h3>異動筆錄至表格內SQL命令稿</h3>

In [10]:
_update_table_sql="UPDATE %s SET %s=%s WHERE StockID='%s' AND StockDate ='%s'" %(
    datatable,'StockVol',0.0,'NQF','2020-12-24')
_update_table_sql

"UPDATE StockInfo SET StockVol=0.0 WHERE StockID='NQF' AND StockDate ='2020-12-24'"

<h3>刪除筆錄至表格內SQL命令稿</h3>

In [13]:
_delete_table_sql="DELETE FROM %s WHERE StockID='%s'AND StockDate='%s'"%(
    datatable, 'NQF', '2020-12-24')
_delete_table_sql

"DELETE FROM StockInfo WHERE StockID='NQF'AND StockDate='2020-12-24'"